* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 9999px;
}
/* Top banner */
.top-banner {
    background-image: url("https://dkstatics-public.digikala.com/digikala-adservice-banners/e2eb491d815220aef8c1212ce30fd1765ad7ffcf_1632567581.gif");
    background-repeat: no-repeat;
    background-color: red;
    background-size: cover;
    background-position: 50%;
    display: flex;
    height: 60px;
}
