* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    display: block;
    background-color: #222;
    height: 60px;
    margin-bottom: 115px;
}
.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 60px;
}

    .header > div:first-child {
        background-color: #777;
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: center;
        z-index: 1;
    }
    .header > div:first-child > div {
            background-color: #666;
            height: 70px;
            width: 1676px;
        }
    .nav {
        background-color: #999;
        display: flex;
        justify-content: center;
        height: 45px;
        width: 100%;
        transition: 0.5s;
        z-index: -1;
    }
        .nav > div {
            width: 1676px;
            background-color: #888;
        }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .nav--hidden {
        transform: translateY(-70px);
        transition: 0.5s;
    }
.main-content {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .slider {
        margin-top: 17px;
        display: flex;
        height: 450px;
        background-color: #9995;
        justify-content: center;
    }
        .slider > div {
            display: flex;
            width: 1336px;
            height: 450px;
            background-color: #8885;
            justify-content: space-between;
            align-content: center;
        }
            .aside-oneThird-slider {
                display: flex;
                flex-direction: column;
                width: 437px;
                height: 450px;
                background-color: #7775;
                justify-content: space-between;
            }
                .aside-oneThird-slider-adPlacement {
                    height: 218px;
                    background-color: #6665;
                    border-radius: 16px;
                }
            .twoThird-slider {
                display: flex;
                width: 883px;
                height: 450px;
                background-color: #6665;
                border-radius: 16px;
            }
    .carousel-specials-incredible {
        display: flex;
        height: 521px;
        width: 100%;
        background-color: #5555;
        margin-top: 16px;
        justify-content: center;
        align-items: center;
    }
        .carousel-specials-incredible > div {
            height: 451px;
            width: 1336px;
            background-color: #5555;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            .carousel-specials-incredible > div > .products {
                height: 451px;
                width: 1076px;
                background-color: #5555;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
                .carousel-specials-incredible > div > .products > .items {
                    background-color: #5555;
                    border-radius: 8px;
                    width: 257px;
                    height: 444px;
                }
            .carousel-specials-incredible > div > .title { 
                height: 451px;
                width: 214px;
                background-color: #5555;
            }
    .banner-impression {
        display: flex;
        height: 240px;
        background-color: #7775;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
        .banner-impression > aside {
            display: flex;
            width: 1336px;
            height: 100%;
            background-color: #7775;
            justify-content: space-between;
            align-items: center;
        }
            .banner-impression .adPlacements {
                width: 319px;
                height: 100%;
                background-color: #7775;
                border-radius: 16px;
            }
    .articles {
        display: flex;
        flex-direction: column;
        width: 1336px;
        background-color: #7775;
        height: 9999px;
        margin-top: 30px;
    }
    