* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 9999px;
}
/* Top banner */
.banner {
    height: 60px;
    display: flex;
    background-color: #1117;
}
/* Header */
.header {
    display: flex;
    height: 70px;
    justify-content: center;
}
    .header > div {
        background-color: #555;
        width: 1676px;
        padding: 0 15px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
.nav {
    display: flex;
    height: 45px;
    justify-content: center;
    position: fixed;
    top: 130px;
    width: 100%;
    z-index: -1;
    transition: 0.3s;
}
    .nav > div {
        background-color: #1117;
        width: 1676px;
    }
    .nav--hidden {
        transform: translateY(-130px);
    }
    .nav--hidden2 {
        transform: translateY(+70px);
    } 