* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 9999px;
}
/* Top banner */
.top-banner {
    background-color: #1117;
    display: flex;
    height: 60px;
}
/* Header */
.header-sticky-outterCont {
    display: flex;
    height: 70px;
    max-width: 1676px;
    margin: auto;
    padding: 0 15px;
}