* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 9999px;

}
.banner {
    display: block;
    background-color: #222;
    height: 60px;
    margin-bottom: 115px;
}
.header-outerCont {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 115px;
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 1;
}
.header-innerCont {
    height: 70px;
    width: 1676px;
    background-color: #555;
}
.nav-outerCont {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 100%;
    z-index: -1;
    transition: 0.5s;
}
    .nav-innerCont {
        width: 1676px;
        background-color: #777;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .nav-outerCont--hidden {
        transform: translateY(-70px);
        transition: 0.5s;
    }
